.date-picker {
  position: relative;
  &__content {
    position: absolute;
    border: 1px solid #32a8fd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(#000, 0.5);
    padding: 0 10px 10px;
    background-color: #fff;
  }
  &__hidden {
    display: none;
  }
  &__input {
    width: 150px;
    margin: 0;
    padding: 0 0 0 5px;
    &--icon {
      position: absolute;
      left: 70%;
      top: 20%;
      pointer-events: none;
    }
  }
  &__month-year {
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--dropdown {
      border: none;
      cursor: pointer;
    }
    &--arrow {
      cursor: pointer;
    }
  }
  &__calendar {
    margin: 0;
    padding: 0;
    width: 260px;
    table-layout: fixed;
    &--day-names {
      width: 100%;
    }
    &--filler {
      color: #ccc;
    }
    &--day,
    &--filler {
      text-align: center;
      &:hover {
        background-color: #32a8fd;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
